[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "neovim/plugged/nord-vim"]
	path = neovim/plugged/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule "oh-my-zsh/themes/nord-tmux"]
	path = oh-my-zsh/themes/nord-tmux
	url = https://github.com/arcticicestudio/nord-tmux
[submodule "oh-my-zsh/themes/nord-extended"]
	path = oh-my-zsh/themes/nord-extended
	url = https://github.com/fxbrit/nord-extended
[submodule "oh-my-zsh/custom/plugins/zsh-fzf-history-search"]
	path = oh-my-zsh/custom/plugins/zsh-fzf-history-search
	url = https://github.com/joshskidmore/zsh-fzf-history-search
[submodule "oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
